@import "./variables";
@import "./headers";


*{
    @include padding(3);
}

body {
    font: 100% "Space Mono", monospace;
    color:  $primaryColor;
    margin: 0;
    padding: 0;
    background-color: #fff;
    overflow-x: hidden;
}
main {
    @include padding(1);
}
article {
    display: flex;
    flex-wrap: wrap;
}
article section {
    flex-grow: 1;
    flex-basis: 45%;
    border: 1px $borderColor solid;
    @include shadow($primaryColor);
    padding: 16px;
    margin: 16px;
    clear: both;
    overflow: auto;
    box-sizing: border-box;
}
article section#selling-points {
    flex-grow: 2;
    flex-basis: 100%;
}
article code {
    background: #000;
    border: 1px solid  $primaryColor;
    color: $borderColor;
    page-break-inside: avoid;
    font-family: monospace;
    font-size: 15px;
    line-height: 1.6;
    margin-bottom: 1.6em;
    max-width: 100%;
    overflow: auto;
    padding: 1em 1.5em;
    display: block;
    word-wrap: break-word;

    &::before {float: left; width: 40%}
    &::after {float: right; width: 40%}
}
.messages {
    padding: 16px;
    .success {
        @include infos(green);
    }
    .error {
        @include infos(red);
        &:hover { background: green; }
    }
    .warning {
        @include infos(yellow);
    }  
}

@for $i from 1 through 6{
    li:nth-child(0n + #{$i}){
        background-color: darken(grey, $i * 5%);
        color: lighten(orange, $i * 5%);
        
    }
}





